* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80");
  background-size: cover;
  display: flex;
}

img {
  height: 223px;
}

.height-and-width-100 {
  height: 100%;
  width: 100%;
}

.height-and-width-px {
  padding: 60px;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

#aside {
  width: 22vw;
  height: 90vh;
  margin: 5vh 2vw 5vh 2vw;
}

.text-align-center {
  display: flex;
  justify-content: center;
}

.layer {
  background-color: rgba(114, 3, 46, 0.445);
}
.layer-main {
  background-color: rgba(236, 179, 201, 0.705);
}
.layer-card {
  background-color: rgba(117, 117, 117, 0.9);
}

.flex {
  display: flex;
}

.flex-center{
  display: flex;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-evenly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  width: 80%;
}

.project-font {
  text-shadow: 3px 3px 4px black;
  color: white;
  font-size: x-large;
  text-align: center;
}
.pointer-aside {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.pointer-aside:hover {
  padding: 7px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(252, 77, 77, 0.562);
}
.pointer {
  cursor: pointer;
}

#title {
  flex-grow: 1;
  justify-content: center;
}

#menu {
  flex-grow: 4;
  justify-content: space-evenly;
}

#about-me {
  flex-grow: 4;
  justify-content: flex-end;
  margin-bottom: 5vh;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 96vh;
  width: 72vw;
  overflow-y: scroll;
  margin: 2vh 0 2vh;
}

#posterDiv {
  width: 150px;
  margin: 2vh 1vw 0 1vw;
}

.posters {
  cursor: pointer;
  width: 100%;
  border: solid 2px black;
  position: relative;
}

.posters:hover {
  border: solid 4px rgb(252, 42, 42);
}

#bigMediaPoster {
  cursor: pointer;
  height: 334px;
  width: 225px;
  margin: 2vh 1vw 2vh 1vw;
}

.poster-title {
  width: 100%;
  text-shadow: 2px 2px 2px black;
  color: rgb(255, 208, 0);
  font-size: large;
  text-align: center;
}

.search-button {
  font-size: 0.8em;
  padding: 10px 15px;
  background-color: #042037;
  color: #fff;
  border: none;
}

#searchForm {
  height: 25vh;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.9);
}

.short-margin-bottom {
  margin-bottom: 10px;
}

.short-margin-left {
  margin-left: 10px;
}

#searchInput {
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  background-color: #fff;
  border: 2px solid;
  border-radius: 4px;
}

#resultsSection {
  height: 71vh;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.searched-posters {
  flex-basis: 12%;
}

.arrow-div {
  position: relative;
  height: 100px;
  width: 200px;
  align-self: center;
}

.arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 8vmin;
  height: 8vmin;
  background: transparent;
  border-top: 2vmin solid #0d5997;
  border-right: 2vmin solid #0d5997;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}

.arrow-right {
  left: 40px;
  transform: rotate(45deg);
}

.arrow-left {
  left: 50px;
  transform: rotate(225deg);
}

.arrow:hover {
  border-color: orange;
  box-shadow: 0.5vmin -0.5vmin 0 white;
}

.episode-poster {
  background-color: rgba(236, 179, 201, 0.705);
  object-fit: cover;
  cursor: default;
  height: 300px;
  width: 600px;
  margin: 0 1vw 1vh 1vw;
}

#selectDiv{
  cursor: pointer;
  border: 2px solid black;
}

.number-width{
  width: 3em;
}

.series-plots-inputs{
  height: 40px;
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  background-color: #fff;
  border: 2px solid;
  border-radius: 4px;
}

/* Tablet landscape 1024px*/
/* Tablet portrait 768px*/


@media (max-width: 1023px) {
  .hide-tablet {
    display: none !important;
  }
  #root {
    flex-wrap: wrap;
  }
  #aside {
    width: 100%;
    height: 76px;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  #aside > * {
    flex: 1 1 auto;
    margin-bottom: 0;
  }
  #aside > #menu {
    flex: 1 1 50%;
    flex-direction: row;
    justify-content: flex-end;
  }
  #main {
    width: 100%;
    height: calc(96vh - 140px);
    margin: 2vh 2vh;
  }
  h2 {
    font-size: 20px;
  }
  #searchForm  > div {
    flex-wrap: wrap;
    padding: 12px;
    width: 100%;
  }
  #searchForm > div > div{
    flex: 94px 0 0;
    margin-left: 10px;
  }
  #searchForm > div > button {
    margin-left: auto !important;
  }
  #searchForm > div *:nth-child(2){
    flex: 80% 1 1;
    margin-bottom: 6px;
  }
  .height-and-width-100, 
  #resultsSection,
  #resultsSection .flex-column-evenly {
    height: auto;
  }
  #resultsSection h1{
    font-size: 20px;
    padding: 12px;
  }
  .form-movie input,
  .form-movie select {
    flex: 50% 0 1 !important; 
  }
  #searchForm.form-movie > div {
    flex-wrap: nowrap;
  }
  #searchForm.form-movie > div > button {
    margin-left: 10px !important;
  }
}

@media (max-width: 767px) {
  #menu *,
  #about-me {
    display: none;
  }
  #menu {
    position: relative;
  }
  #menu:before {
    background-color: rgb(255, 119, 119);
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    display: block;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg);
    margin-right: 20px;
  }

  #menu.is-active span {
    display: block;
    position: absolute;
    top: 53px;
    right: 0;
    background: rgb(114 3 46 / 55%);
    z-index: 1000;
    border: 1px solid #000;
  }
  #menu.is-active span:nth-child(1) {
    border-bottom: none;
  }
  #menu.is-active span:nth-child(2) {
    top: 109px;
    border-top: none;
  }

  
  h2 {
    font-size: 16px;
    padding-top: 10px;
  }
  #searchForm {
    height: auto;
  }
  #searchForm > div {
    justify-content: space-between;
  }
  #searchForm > div > div{
    flex: 50px 0 0;
    font-size: 16px;
    margin-left: 10px;
  }
  #searchForm > div input{
    width: calc(100% - 90px);
    flex: calc(100% - 90px) 0 0 !important;
  }
  #resultsSection section {
    width: 100%;
  }
  #resultsSection img {
    max-width: 100%;
  }
  #resultsSection h1{
    font-size: 18px;
  }
  #resultsSection h3 {
    font-size: 16px;
    line-height: 1.5em;
    padding: 12px;
  }
  #searchForm.form-movie input,
  .form-movie select {
    flex: 100% 1 1 !important; 
    margin: 0 0 6px 0;
  }
  #searchForm.form-movie > div {
    flex-wrap: wrap;
  }
  #searchForm.form-movie > div > button {
    margin-left: auto !important;
  }
  .layer-card h1, 
  .layer-card h3 {
    margin-bottom: 18px;
  }
  .layer-card h3 {
    font-size: 16px;
  }
}